* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.hero {
  background-color: #d5e1ef;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qrBody {
  background-color: #fff;
  height: 31.125rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 1.25rem;
}
.qrImage {
  background: #2c7dfa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  width: 18rem;
  border-radius: 0.625rem;
}
.qrImage img {
  height: 10rem;
  width: 10rem;
}
.text_container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #7d889e;
  letter-spacing: 0.01175rem;
  width: 16rem;
  height: 3.5625rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
h3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin-top: 1.5rem;
  width: 18rem;
  height: 3.5rem;
}
